# Basic Python

In [14]:
import numpy as np
print("Hello! Numpy!")

Hello! Numpy!

In [15]:
# numpy 불러온거 확인
np

In [16]:
# Print Function
print("Hello, World!")

Hello, World!

# INTEGER

In [20]:
# Integer
# %d

x = 3
print("Integer : %01d, %02d, %03d, %04d, %05d" % (x, x, x, x, x))
# 1자리 2자리 3자리 4자리 5자리
# 01 02 03 이런식으로 하면 앞에 0이 붙음

Integer : 3, 03, 003, 0003, 00003

# FLOAT

In [21]:
# Float
# %f

x = 123.456
print("Float : %.0f, %.1f, %.2f, %1.2f, %2.2f" % (x, x, x, x, x))
# 소수점 없음 / 소수점 하나 / 소수점 둘 / 소수점 둘 / 소수점 둘

Float : 123, 123.5, 123.46, 123.46, 123.46

# STRING

In [19]:
# String
# %s

x = "Hello, world"
print("String : [%s], [%3s], [%20s]" % (x, x, x))

String : [Hello, world], [Hello, world], [        Hello, world]

# FOR LOOP

In [25]:
dlmethods = ["ANN", "MLP", "CNN", "RNN", "DAE"]

for alg in dlmethods:
    print("%s" % alg)

for alg in dlmethods:
    print("[%s]" % alg)

ANN
MLP
CNN
RNN
DAE
[ANN]
[MLP]
[CNN]
[RNN]
[DAE]

# FOR LOOP WITH INDEX
## ENUMERATE

In [27]:
dlmethods = ["ANN", "MLP", "CNN", "RNN", "DAE"]

for i, alg in enumerate(dlmethods):
    print("%d : %s" % (i, alg))

0 : ANN
1 : MLP
2 : CNN
3 : RNN
4 : DAE

In [32]:
dlmethods = ["ANN", "MLP", "CNN", "RNN", "DAE"]

for i, alg in enumerate(dlmethods):
    print("%d/%d : %s" % (i, len(dlmethods), alg))
    
# len(dlmethods)

0/5 : ANN
1/5 : MLP
2/5 : CNN
3/5 : RNN
4/5 : DAE

## IF / ELSE

In [29]:
dlmethods = ["ANN", "MLP", "CNN", "RNN", "DAE"]

for alg in dlmethods:
    if alg in ["ANN", "MLP", "CNN"]:
        print ("%s is a feed-forward network." % (alg))
    elif alg in ["RNN"]:
        print ("%s is a recurrent network" % (alg))
    else:
        print("%s is an unsupervised method." % (alg))

ANN is a feed-forward network.
MLP is a feed-forward network.
CNN is a feed-forward network.
RNN is a recurrent network
DAE is an unsupervised method.

# FUNCTIONS

In [34]:
def sum(a, b):
    return a + b
print("Function Defined")

Function Defined

In [35]:
sum(5000, 4999)

9999

In [37]:
a = 5000
b = 4999
print("%d + %d = %d" % (a, b, sum(a,b)))

5000 + 4999 = 9999

# STRING

In [40]:
a = "Jae Seung Lee"
b = "a student of "
c = "KOREA UNIVERSITY."

print(a + " is " + b + c)

Jae Seung Lee is a student of KOREA UNIVERSITY

In [41]:
a = "Jae Seung Lee"
b = "very "
c = "great."

print(a + " is " + b * 10 + c)

Jae Seung Lee is very very very very very very very very very very great.

# LIST

In [42]:
a = []
print("a : [%s], Type is [%s]" % (a, type(a)))

a : [[]], Type is [<class 'list'>]

In [45]:
b = [1, 2, 3]
c = ['x', 'y', 'z']
d = [b, c]

print(b)
print(c)
print(d)

for i in c:
    print(i)

[1, 2, 3]
['x', 'y', 'z']
[[1, 2, 3], ['x', 'y', 'z']]
x
y
z

In [46]:
e = []

for i in range(len(c)):
    e.append(c[i])

print(e)

['x', 'y', 'z']

# DICTIONARY

In [53]:
dic = dict()
dic["name"] = "Jason"
dic["school"] = "Korea Univ."
dic["major"] = "Statistics"

print(dic)

{'name': 'Jason', 'school': 'Korea Univ.', 'major': 'Statistics'}

In [54]:
# dict 형태로 정의

a = {'name' : 'Jason', 'school' : 'Korea Univ.', 'major' : 'Statistics'}
print(a)

{'name': 'Jason', 'school': 'Korea Univ.', 'major': 'Statistics'}

In [55]:
print('My name is %s' %(dic['name']))
print("My school is %s" %(dic['school']))
print('My major is %s' %(dic['major']))

My name is Jason
My school is Korea Univ.
My major is Statistics

In [56]:
print('My name is %s' %(a['name']))
print("My school is %s" %(a['school']))
print('My major is %s' %(a['major']))

My name is Jason
My school is Korea Univ.
My major is Statistics

# CLASS

In [57]:
class Greeter:
    # Constructor 지시
    def __init__(self, name):
        self.name = name
    
    # Method
    def greet(self, loud=False):
        if loud: 
            # loud is True
            print('HELLO, %s!' % self.name.upper())
        else: 
            # loud is False
            print('Hello, %s' % self.name)

a = Greeter('Jason')
a.greet()
a.greet(loud=True)

Hello, Jason
HELLO, JASON!